.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 145px;
  margin-right: 145px;
}


.header-call-button {
  border: 0;
  border-radius: 10px;
  background: #685480;
  appearance: auto;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px
}.header-call-button:hover {
  
}

.navigation a {
  position: relative; 
  font-size: 1.1em;
  color: black;
  text-decoration: none;
  margin-left: 40px;
}





