html, body {
  box-sizing: border-box;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.body {
  background-color: blueviolet;
  color: #2222;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.main-header {
  width: 100%;
  background-color: #fff;
  font-family:Arial, Helvetica, sans-serif;
  font-style: normal;
}

.header-wrapper {
  margin: auto;
  margin-bottom: 0px; 
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0px;
}

.logo {
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.realtor-msk {
  word-break: break-all;
  overflow: hidden;
  user-select: none;
  font-size: 0.9em;
}

.navigation a{
  text-align: left;
  font-size: 1.1em;
  color: black;
  text-decoration: none;
  margin-left: 30px;
  display: inline-block; /*делаем чтобы ссылка из строчного элемента превратилась в строчно-блочный*/
  line-height: 1; /*Задаём высоту строки*/
  color:black;
}

.navigation a::after{
  display: block; /*превращаем его в блочный элемент*/
  content: ""; 
  height: 3px; 
  width: 0%; 
  background-color: #685480; 
  transition: width 0.4s ease-in-out; /*отвечает за плавное изменение ширины. */
}

.navigation a:hover::after,
.navigation a:focus::after {
    width: 100%;
}

.navigation a:hover{
	color:#685480;
}


/*Телефон*/
.header-phone {
  list-style: none;
  font-weight: 600;
}

.header-phone:not(:last-child) {
  margin-bottom: 8px;
}

.header-phone {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: large;
}

.header-phone::before {
  content: url('call-outline\ \(2\).svg');
  width: 25px;
  height: 25px;
  margin-right: 8px;
  flex-shrink: 0;
}

.header-phone {
list-style: none; 
}

.header-phone a{
text-decoration: none;
color:black;
}


/*Часы работы*/
.header-hours:not(:last-child) {
margin-bottom: 8px;
}

.header-hours {
display: flex;
align-items: center;
font-weight: 600;
font-size: large;
}

.header-hours::before {
content: url('time-outline.svg');
width: 25px;
height: 25px;
margin-right: 8px;
flex-shrink: 0;
}

/*Кнопка обратный звонок*/

.header-call-button {
  display: flex;
  height: 57px;
  width: 160px;
  border: 0;
  border-radius: 30px;
  background: #685480;
  appearance: auto;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  
}














.page-wrapper {
  width: 1580px;
  background-color: rgb(207, 207, 253);
}
