* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


.site-header {
  width: 100%;
  background: #fff;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
  padding-left: 0px;
  font-family:Arial, Helvetica, sans-serif;
  font-style: normal;
}

.header-container {
  max-width: 1600px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 30px;
}

.site-header__wrapper {
  display: flex;
  margin-left: auto;
  
  /*
  width: 1600px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 145px;
  margin-right: 145px;
  margin-top: -10px;
  position: sticky;
  */
}

.realtor-msk {
  user-select: none;
  font-size: 1.1em;
  color: black;
  text-decoration: none;
}



.navigation a {
  text-align: left;
  font-size: 1.1em;
  color: black;
  text-decoration: none;
  margin-left: 40px;
}
.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #685480;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}
.navigation a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.header-call-button {
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: space-between;
  cursor: pointer;
  height: 57px;
  width: 160px;
  border: 0;
  border-radius: 30px;
  background: #685480;
  appearance: auto;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}.header-call-button:hover {
    transition: 0.15s;
    opacity: 0.9;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
    }.header-call-button:active{
      transition: 0.15s;
      opacity: 0.8;
      box-shadow: none;
    }

  
    .header-phone {
        list-style: none;
        font-weight: 600;
    }

    .header-phone:not(:last-child) {
        margin-bottom: 8px;
    }

    .header-phone {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: large;
    }

    .header-phone::before {
        content: url('call-outline\ \(2\).svg');
        width: 25px;
        height: 25px;
        margin-right: 8px;
        flex-shrink: 0;
    }

    .header-phone {
      list-style: none; 
  }

  .header-phone a{
    text-decoration: none;
    color:black;
}

  

  .header-hours:not(:last-child) {
      margin-bottom: 8px;
  }

  .header-hours {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: large;
  }

  .header-hours::before {
      content: url('time-outline.svg');
      width: 25px;
      height: 25px;
      margin-right: 8px;
      flex-shrink: 0;
  }







/*
.moscow-city-button {
  width: 500px;
  height: 60px;
  border-radius: 10px;
  background-color: #027EB4;
  color: #fff;
  border: rgba(139, 186, 206, 0.4);
  border-style: solid;
  border-width: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.5);  
  transform: scale(1);
}
*/

